<h1>Campervans</h1>
<div class="row justify-content-center">
  <div class="col-sm-9 col-md-8 col-lg-7 col-xl-5">
    <% @campervans.each do |campervan| %>
      <%= link_to campervan_path(campervan) do %>
        <div class="card-campervan mb-4">
          <%= cl_image_tag campervan.photo.key, height: 200, width: 250, crop: :fill %>
          <div class="card-campervan-infos m-3">
            <h2><%= campervan.title %></h2>
            <p><%= campervan.description %></p>
            <p class="bold"><%= campervan.brand %> <%= campervan.model %></p>
            <h2 class="card-pricing"><%= campervan.price_per_night %>€/night</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-5 show-border">
    <img class="map-fit" src="https://www.komar.de/media/catalog/product/cache/4/image/1280x/17f82f742ffe127f42dca9de82fb58b1/4/-/4-050_worldmap_neu_ma_1.jpg" alt=""></div>
</div>
