<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <h1>Advertise a camper van</h1>
      <div class="form-group">
        <%= simple_form_for(@campervan) do |f| %>
          <%= f.label :title %>
          <%= f.input_field :title, class: "form-control" %>
          <%= f.label :description %>
          <%= f.input_field :description, class: "form-control"%>
          <%= f.input :brand, collection: ['Volkswagen', 'Nissan', 'Mercedes', 'Ford'], class: "form-control" %>
          <%= f.input :model, collection: ['Multivan', 'California', 'C-Max', 'Tourneo', 'Sprinter', 'Vaneo', 'Bluebird', 'Interstar' ], class: "form-control"%>
          <%= f.label :capacity %>
          <%= f.input_field :capacity, class: "form-control"%>
          <%= f.label :address %>
          <%= f.input_field :address, class: "form-control"%>
          <%= f.label :price_per_night %>
          <%= f.input_field :price_per_night, class: "form-control"%>
          <%= f.input :photo, as: :file %>
          <%= f.submit 'Post ad', class: "btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
