<p id="notice"><%= notice %></p>


<h1><strong><%= @campervan.title %></strong></h1>

<div>
  <%= @campervan.brand %>
  <%= @campervan.model %>
  <%= @campervan.capacity %>
  <strong><%= @campervan.price_per_night %></strong>
</div>

<div>
  <%= link_to 'BOOK NOW!', new_campervan_booking_path(@campervan) %>
</div>
