<h1>My bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
        <li>
          <%= booking.campervan.photos %>
          <%= link_to campervan.title, campervan_path(campervan) %>
          <%= booking.start_date %>
          <%= booking.end_date %>
          <%= booking.total_price %>
        </li>
  <% end %>
</ul>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
