<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>My bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
        <li>
          <%= link_to booking.campervan.title, campervan_path(booking.campervan)  %>
          <% if booking.campervan.photo.attached? %>
            <%= cl_image_tag booking.campervan.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            There is no photo yet!
            <%= image_tag("https://source.unsplash.com/random", alt:"image", height: 300, width: 400, crop: :fill) %>
          <% end %>
          <div>Pick-up date: <%= booking.start_date %></div>
          <div>Drop-off date: <%= booking.end_date %></div>
          <div>Total Price: <%= booking.total_price %>&euro;</div>
        </li>
  <% end %>
</ul>

<h1>My Vans</h1>

<ul>
  <% @user_vans.each do |user_van| %>
        <li>
          <%= link_to user_van.title %>
          <%= user_van.user.first_name %>
          • <%= link_to campervan_path(user_van), method: :delete, data: {confirm: "Delete #{user_van.title}?"} do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
        </li>
  <% end %>
</ul>


<h1>My Van Bookings</h1>

<ul>
  <% @van_bookings.each do |van_booking| %>
        <li>
          <%= link_to van_booking.campervan.title, campervan_path(van_booking.campervan)  %>
          <% if van_booking.campervan.photo.attached? %>
            <%= cl_image_tag van_booking.campervan.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            There is no photo yet!
            <%= image_tag("https://source.unsplash.com/random", alt:"image", height: 300, width: 400, crop: :fill) %>
          <% end %>
          <p>Pick-up date: <%= van_booking.start_date %></p>
          <p>Drop-off date: <%= van_booking.end_date %></p>
          <p>Total Price: <%= van_booking.total_price %></p>
        </li>
  <% end %>
</ul>
</div>

