<ul class="nav nav-tabs sticky_tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="false">My Bookings</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="vans-tab" data-toggle="tab" href="#vans" role="tab" aria-controls="vans" aria-selected="false">My Vans</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <p>First name: <%= current_user.first_name %></p>
          <p>Last name: <%= current_user.last_name %></p>
          <p>Email address: <%= current_user.email %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>My bookings</h1>


            <% @bookings.each do |booking| %>
                  <div class="card-my-bookings mb-4">
                    <div class="position-relative">
                      <% if booking.campervan.photo.attached? %>
                        <%= cl_image_tag booking.campervan.photo.key, height: 100, width: 150, crop: :fill %>
                      <% else %>
                        There is no photo yet!
                        <%= image_tag("https://i.pinimg.com/originals/65/b1/3f/65b13f6ab12de47cfcdefb32b2d67387.jpg", alt:"image", height: "auto", width: 100, crop: :fill) %>
                      <% end %>
                      <h5 class="position-absolute w-100 h-100 d-flex text-center align-items-center p-3 text-dark" style="top: 0; left: 0"><%= link_to booking.campervan.title, campervan_path(booking.campervan)  %></h5>
                    </div>
                    <p class="col-3">Created at: <%= booking.created_at %></p>
                    <div class="d-flex flex-column col-3">
                      <p>Pick-up date: <%= booking.start_date %></p>
                      <p>Drop-off date: <%= booking.end_date %></p>
                    </div>
                    <p class="col-3">Total Price: <%= booking.total_price %> €</p>
                  </div>
            <% end %>

        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="vans" role="tabpanel" aria-labelledby="vans-tab">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>My Vans</h1>

          <ul>
            <% @user_vans.each do |user_van| %>
                  <li>
                    <%= link_to user_van.title %>
                    <%= user_van.user.first_name %>
                    • <%= link_to campervan_path(user_van), method: :delete, data: {confirm: "Delete #{user_van.title}?"} do %>
                  <i class="fas fa-trash-alt"></i>
                  <% end %>
                  </li>
            <% end %>
          </ul>


          <h1>My Van Bookings</h1>

          <ul>
            <% @van_bookings.each do |van_booking| %>
                  <li>
                    <%= link_to van_booking.campervan.title, campervan_path(van_booking.campervan)  %>
                    <% if van_booking.campervan.photo.attached? %>
                      <%= cl_image_tag van_booking.campervan.photo.key, height: 300, width: 400, crop: :fill %>
                    <% else %>
                      There is no photo yet!
                      <%= image_tag("https://source.unsplash.com/random", alt:"image", height: 300, width: 400, crop: :fill) %>
                    <% end %>
                    <p>Pick-up date: <%= van_booking.start_date %></p>
                    <p>Drop-off date: <%= van_booking.end_date %></p>
                    <p>Total Price: <%= van_booking.total_price %></p>
                  </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>






